go 1.26

use (
	./pkg/shared
	./services/auth
	./services/catalog
	./services/favorites-savedsearch
	./services/gateway
	./services/listing
	./services/location
	./services/media
	./services/moderation
	./services/notification
	./services/search
	./services/user-profile
)
